<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="css/camp-style.css" type="text/css"/>
        
        {{! Bootstrap }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		{{! MDL}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		{{! Google Fonts}}
		<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
		{{! Icons}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <title>PitchIT</title>
		    <link rel="icon" href="img/tent.png">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/camps.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>