<form id="create-adventure">
    <div>
        <label for="title">Adventure Name:</label>
        <input type="text" id="title">
    </div>
    <br>
    <div>
        <label for="location">National Park:</label>
        <input list="campground-list" type="text" id="location" placeholder="search...">
        <datalist id="campground-list">
          <option class="Arches National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C79931C-1DD8-B71B-0BF201E3DB540D04.jpg" data-url="https://www.nps.gov/arch/index.htm">Arches National Park</option>
          <option class="Badlands National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C82ED5D-1DD8-B71B-0B2F33D3B39D6D1B.jpg" data-url="https://www.nps.gov/badl/index.htm">Badlands National Park</option>
          <option class="Biscayne National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C870833-1DD8-B71B-0BE93D49E0DF6503.jpg" data-url="https://www.nps.gov/bisc/index.htm">Biscayne National Park</option>
          <option class="Bryce Canyon National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7F8EAD-1DD8-B71B-0B080143E3A4984D.jpg" data-url="https://www.nps.gov/brca/index.htm">Bryce Canyon National Park</option>
          <option class="Black Canyon Of The Gunnison National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C8166E8-1DD8-B71B-0BDEB9A4EEEED807.jpg" data-url="https://www.nps.gov/blca/index.htm">Black Canyon Of The Gunnison National Park</option>
          <option class="Capitol Reef National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C82E4FB-1DD8-B71B-0B8614194A6D08FA.jpg" data-url="https://www.nps.gov/care/index.htm">Capitol Reef National Park</option>
          <option class="Carlsbad Caverns National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C8240F9-1DD8-B71B-0BB5EA000351CA8A.jpg" data-url="https://www.nps.gov/cave/index.htm">Carlsbad Caverns National Park</option>
          <option class="Canyonlands National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A53BC-1DD8-B71B-0BFF7AD2A83FC7A8.jpg" data-url="https://www.nps.gov/cany/index.htm">Canyonlands National Park</option>
          <option class="Cane River Creole National Historical Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C8664C5-1DD8-B71B-0BDF39DFAA0CD777.jpg" data-url="https://www.nps.gov/cari/index.htm">Cane River Creole National Historical Park</option>
          <option class="Channel Islands National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A70D4-1DD8-B71B-0B2979F65CAB2D50.jpg" data-url="https://www.nps.gov/chis/index.htm">Channel Islands National Park</option>
          <option class="Crater Lake National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7B23C5-1DD8-B71B-0B4F2400855714FA.jpg" data-url="https://www.nps.gov/crla/index.htm">Crater Lake National Park</option>
          <option class="Cuyahoga Valley National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C81841A-1DD8-B71B-0B1A447676517C5B.jpg" data-url="https://www.nps.gov/cuva/index.htm">Cuyahoga Valley National Park</option>
          <option class="Denali National Park and Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C83C9C7-1DD8-B71B-0B9B669ED961F97E.jpg" data-url="https://www.nps.gov/dena/index.htm">Denali National Park and Preserve</option>
          <option class="Dry Tortugas National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C810049-1DD8-B71B-0B0040641619D4A6.jpg" data-url="https://www.nps.gov/drto/index.htm">Dry Tortugas National Park</option>
          <option class="Everglades National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C8547ED-1DD8-B71B-0B596F29F0A9A60B.jpg" data-url="https://www.nps.gov/ever/index.htm">Everglades National Park</option>
          <option class="Fort Washington Park" data-image="https://www.nps.gov/common/uploads/structured_data/889ACFDE-1DD8-B71B-0B66D243B767FF29.jpg" data-url="https://www.nps.gov/fowa/index.htm">Fort Washington Park</option>
          <option class="Gates Of The Arctic National Park and Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A8B6B-1DD8-B71B-0B8B89FE0C6B6F4F.jpg" data-url="https://www.nps.gov/gaar/index.htm">Gates Of The Arctic National Park and Preserve</option>
          <option class="Glacier National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7FF0EB-1DD8-B71B-0BDB1379DE9714E1.jpg" data-url="https://www.nps.gov/glac/index.htm">Glacier National Park</option>
          <option class="Grand Canyon National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7B143E-1DD8-B71B-0BD4A1EF96847292.jpg" data-url="https://www.nps.gov/grca/index.htm">Grand Canyon National Park</option>
          <option class="Glacier Bay National Park and Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C790BBF-1DD8-B71B-0B0AE92D0B9C24EB.jpg" data-url="https://www.nps.gov/glba/index.htm">Glacier Bay National Park and Preserve</option>
          <option class="Grand Teton National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7FA7B7-1DD8-B71B-0B7B45B73D1C90C3.jpg" data-url="https://www.nps.gov/grte/index.htm">Grand Teton National Park</option>
          <option class="Great Smoky Mountains National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C80EC37-1DD8-B71B-0B87F63E8B030D15.jpg" data-url="https://www.nps.gov/grsm/index.htm">Great Smoky Mountains National Park</option>
          <option class="Great Sand Dunes National Park and Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C7CE533-1DD8-B71B-0BE6ECE3FE72864F.jpg" data-url="https://www.nps.gov/grsa/index.htm">Great Sand Dunes National Park and Preserve</option>
          <option class="Guadalupe Mountains National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C825533-1DD8-B71B-0B6FDF436F604A3C.jpg" data-url="https://www.nps.gov/gumo/index.htm">Guadalupe Mountains National Park</option>
          <option class="Haleakal National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3D3323B6-1DD8-B71B-0B78ACA534C1D05E.jpg" data-url="https://www.nps.gov/hale/index.htm">Haleakal National Park</option>
          <option class="Hawai'i Volcanoes National Park" data-image="https://www.nps.gov/common/uploads/structured_data/C5AEDF53-AE4A-F6DB-2FBA7BE158386C0E.jpg" data-url="https://www.nps.gov/havo/index.htm">Hawai'i Volcanoes National Park</option>
          <option class="Isle Royale National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7AC4C1-1DD8-B71B-0B8592CA6634ABEE.jpg" data-url="https://www.nps.gov/isro/index.htm">Isle Royale National Park</option>
          <option class="Joshua Tree National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C85E941-1DD8-B71B-0BCAA9F8A0BD4E0F.jpg" data-url="https://www.nps.gov/jotr/index.htm">Joshua Tree National Park</option>
          <option class="Kenai Fjords National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7DE352-1DD8-B71B-0B35831ADF254DE0.jpg" data-url="https://www.nps.gov/kefj/index.htm">Kenai Fjords National Park</option>
          <option class="Katmai National Park and Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A32DB-1DD8-B71B-0B37F66E9D0832AF.jpg" data-url="https://www.nps.gov/katm/index.htm">Katmai National Park and Preserve</option>
          <option class="Lake Mead National Recreation Area" data-image="https://www.nps.gov/common/uploads/structured_data/3C79D3DE-1DD8-B71B-0B0E3FD563EACFB5.jpg" data-url="https://www.nps.gov/lake/index.htm">Lake Mead National Recreation Area</option>
          <option class="Mammoth Cave National Park" data-image="https://www.nps.gov/common/uploads/structured_data/700F5F4C-1DD8-B71B-0BEB7EF216AFBE1D.jpg" data-url="https://www.nps.gov/maca/index.htm">Mammoth Cave National Park</option>
          <option class="Mesa Verde National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7C0207-1DD8-B71B-0B74281D9C40EAB9.jpg" data-url="https://www.nps.gov/meve/index.htm">Mesa Verde National Park</option>
          <option class="Mojave National Preserve" data-image="https://www.nps.gov/common/uploads/structured_data/3C875A3A-1DD8-B71B-0B978E24674F66B8.jpg" data-url="https://www.nps.gov/moja/index.htm">Mojave National Preserve</option>
          <option class="North Cascades National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A5B0D-1DD8-B71B-0B1104A95B7A2026.jpg" data-url="https://www.nps.gov/noca/index.htm">North Cascades National Park</option>
          <option class="Petrified Forest National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7D83C9-1DD8-B71B-0B294D0F9ABC4B94.jpg" data-url="https://www.nps.gov/pefo/index.htm">Petrified Forest National Park</option>
          <option class="Redwood National and State Parks" data-image="https://www.nps.gov/common/uploads/structured_data/13FB649C-1DD8-B71B-0B50D0E826025619.jpg" data-url="https://www.nps.gov/redw/index.htm">Redwood National and State Parks</option>
          <option class="Rocky Mountain National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7ECE39-1DD8-B71B-0BAA393EB3C3A995.jpg" data-url="https://www.nps.gov/romo/index.htm">Rocky Mountain National Park</option>
          <option class="Saguaro National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C858613-1DD8-B71B-0BEFB533FAB3FB55.jpg" data-url="https://www.nps.gov/sagu/index.htm">Saguaro National Park</option>
          <option class="Sequoia and Kings Canyon National Parks" data-image="https://www.nps.gov/common/uploads/structured_data/3C7A2835-1DD8-B71B-0B468E834049FBE4.jpg" data-url="https://www.nps.gov/seki/index.htm">Sequoia and Kings Canyon National Parks</option>
          <option class="Theodore Roosevelt National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7939C8-1DD8-B71B-0B048D7EC3812DE3.jpg" data-url="https://www.nps.gov/thro/index.htm">Theodore Roosevelt National Park</option>
          <option class="White Sands National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7FE691-1DD8-B71B-0B21F94DBD31A965.jpg" data-url="https://www.nps.gov/whsa/index.htm">White Sands National Park</option>
          <option class="Yellowstone National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7D334F-1DD8-B71B-0B108C7771F4E854.jpg" data-url="https://www.nps.gov/yell/index.htm">Yellowstone National Park</option>
          <option class="Yosemite National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C84C3C0-1DD8-B71B-0BFF90B64283C3D8.jpg" data-url="https://www.nps.gov/yose/index.htm">Yosemite National Park</option>
          <option class="Zion National Park" data-image="https://www.nps.gov/common/uploads/structured_data/3C7F0098-1DD8-B71B-0B6C0191D7391384.jpg" data-url="https://www.nps.gov/zion/index.htm">Zion National Park</option>
        </datalist>
    </div>
    <br>
    <div>
        <label for="date">Dates:</label>
        <input type="text" id="date" placeholder="MM/DD/YYYY - MM/DD/YYYY">
    </div>
    <br>
    <div>
        <label for="campers">Additional Camper's Username:</label>
        <input list="campers-list" type="text" id="campers">
        <datalist id="campers-list">
            {{#each user}}
                <option>{{this.name}}</option>
            {{/each}}
        </datalist>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect add-btn">
            <i class="material-icons">add</i>
        </button>
        <ul class="added-campers">
        </ul>
    </div>
    <br>
    <div class="form-group supply-list">
        <label for="exampleFormControlTextarea1">Backpack:</label>
        <textarea class="form-control" id="items" rows="3"></textarea>
    </div>

  <a class="submit-trip" href="/dashboard"><button type="button" class="btn btn-outline-success">Submit</button></a>
  <a class="cancel" href="/dashboard"><button type="button" class="btn btn-outline-success">Cancel</button></a>
</form>

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>