/* ---------- Login page ----------- */
.login {
    border: 3px solid #f1f1f1;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.form-container {
    padding: 16px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#signup-link {
    text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.alignContent{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}
/* ================================================ */

/* ---------- Dashboard ---------- */
:root{
    --space: 1rem 0;
    line-height: 1.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    list-style: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: var(--tan);
}

img{
    max-width: 100%;
}

/* >>> Button Styling <<< */
.btn{
    margin: 1rem 0;
}

.gallery-btn {
    margin-left: 6px;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#back2Top:hover {
    background-color: rgb(85, 241, 105);
    color: #000;
}

/* >>> Nav Styling <<< */
.main-nav{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 5rem;
}

.main-menu, .side-menu{
    display: flex;
    align-items: center;
}

.side-menu{
    margin-left: auto;
}

.nav-link{
    padding: 1rem;
}

/* >>> Hero Styling <<< */
.hero{
    height: 75vh;
    background:
        url('https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') center / cover no-repeat,
        rgba(0,0,0,.5);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 200px 200px / 0px 0px 175px 175px;
}

.title, .subtitle{
    width: 60%;
    margin: auto;
}

.title{
    font-size: 3rem;
    line-height: initial;
    padding: var(--space);
}

.subtitle {
    font-size: 18px;
}

#main-title {
    font-family: 'Caveat', cursive;
    font-size: 110px;
}

/* >>> Boxes Styling <<< */
.boxes{
    position: absolute;
    top: 60vh;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box{
    padding: 1.5rem;
    background: white;
    margin: 0 1rem;
    min-height: 15rem;
    width: 18rem;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
}

.box h3{
    font-size: 1rem;
    padding: .5rem 0;
}

/* >>> Adventure Cards <<< */
.trip-card {
    padding: 1.5rem;
    background: white;
    width: 80%;
    margin: auto;
    min-height: 15rem;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    background-image: linear-gradient(to bottom left, rgb(20, 122, 17), rgb(158, 233, 140), rgb(255, 255, 255));
}

.card-title {
    font-family: 'Caveat', cursive;
    border-bottom-style: double;
}

.current-trips {
    margin-top: 15%;
}

/* >>> View Trip Cards <<< */
.view-trip-card {
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    border-radius: 15px !important;
    margin: 10px;
}

.card-body {
    display: inline-block;
}

.base-trip-ptags {
    display: inline-block;
}

.trip-ptags {
    font-weight: 700;
}

.backpack {
    white-space: pre-line;
}

.view-image {
    margin-top: 15%;
}

#park-img {
    border-radius: 8px;
}

/* >>> Footer <<< */
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: orange;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.devs-title {
    display: inline;
    font-family: 'Caveat', cursive;
}

.devs {
    display: inline;
    font-size: 20px;
    padding-left: 10px;
}

.socials {
    color: rgb(41, 40, 40);
}

/* ================================================ */

/* ---------- Create Trip Form ---------- */
#create-adventure {
    margin-top: 5%;
    margin-left: 30%;
    justify-content: center;
    width: 40%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    background-color: white;
}

#create-adventure:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#campers {
    width: 80%;
    margin-right: 20px;
}

.submit-camp-btn {
    width: 20%
}
/* ================================================ */
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: 1;
    position: absolute; 
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}