/* -----Login page------ */
.login {
    border: 3px solid #f1f1f1;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}
  
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.form-container {
    padding: 16px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#signup-link {
    text-align: center;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.alignContent{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
}
/* =========================== */

/* -----Create Trip Form----- */
#create-adventure {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
}

#campers {
    width: 80%;
    margin-right: 20px;
}

.submit-camp-btn {
    width: 20%
}
/* =========================== */